<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management</title>
</head>
<body>
    <h2>Total number of users: <%= count %></h2>
    
    <!-- Buttons for different actions -->
    <a href="/addUser"><button>Add New User</button></a>
    <a href="/user"><button>Update Existing User/ view user</button></a>
    <a href="/deleteUser"><button>Delete Existing User</button></a>
</body>
</html>
